/* Common Style */

*{
  font-family: 'Mulish', sans-serif;
}

/* nav style */
.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 135px;
}
nav img{
  width: 48px;
  height: 56px;
}
.travel{
  color:#FF5400;
}
.nav-content{
  display: flex;
  gap: 16px;
  align-items: center;
  width: 50%;
  
  
}
nav h2 {
  color: #131318;
  font-size: 36px;
  font-weight: 800;
}
.list-items{
  display: flex;
  gap: 44px;
  width: 50%;
  
}
.list-items li{
  list-style:none;
  font-size: 18px;
  font-weight: 400;
  
}

/* banner style */
.banner{
  background-image:url('./Images/Group\ 13\ \(1\)\ \(1\).png');
  background-repeat: no-repeat;
  width: 1170px;
  height: 500px;
  border-radius: 16px;
  margin: 135px auto;
  border-radius: 16px;
}
.banner-heading{
  color: #FFF;
  font-size: 64px;
  font-weight: 800;
  align-items: center;
  padding: 106px 287px 24px;
}
.banner-description{
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding: 2px 247px 48px;
}
.banner-items{
  display: inline-flex;
  padding: 16px;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.30);
  margin: 0px 100px ;
  
}
.option{
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #FFF;
  border-color: rgba(255, 255, 255, 0);
  padding: 16px; 
}
.option1{
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #FF5400;
  border-color: rgba(255, 255, 255, 0);
  padding: 16px;
}
.option1::placeholder {
  color:#FFF;
} 


/* our-popular-tour-style */


.tour-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 135px 135px;
}

.tour-heading{
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.tourp1{
  color: rgba(19, 19, 24, 0.70);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.tourp2{
  color: #5A5A5D;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.primary-button{
  border-radius: 8px;
  background: #FF5400;
  width: 174px;
  height: 52px;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  padding: 13px 15px;
  border-color: rgba(255, 255, 255, 0);
}
.tour-image{
  width: 540px;
  height: 550px;
  border-radius: 16px;
}


/* Choose Your Destination style */



.destination-container{
  margin: 80px;
  
}
.destination-heading{
  color: #131318;
  text-align: center; 
  font-size: 40px;
  font-weight: 800;
}
.destination-description{
  color: rgba(19, 19, 24, 0.70);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding: 24px 0px 48px 0px;
}
.destination-img-div1{
  display: flex;
  gap: 24px;
}
.destination-img-div2{
  display: flex;
  gap: 24px;
  margin: 24px;
  justify-content: space-around;

}
.destination-img-div3{
  display: flex;
  gap: 24px;
  margin: 24px;
  justify-content: space-around;

}
/* why choose us style */
.choose-items{
  display: flex;
  width: 100%;
  display: grid;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  
}

.why-choose-us h3{
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;

}
.why-choose-us p{
color: rgba(19, 19, 24, 0.70);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
}
.handpicked{
width: 573px;
height: 284px;
border-radius: 16px;
background: rgba(251, 181, 99, 0.05);
padding-left: 32px;
}
.world-class-service{
  width: 573px;
  height: 284px;
  border-radius: 16px;
  background: rgba(41, 206, 246, 0.05);
  padding-left: 32px;

}
.best-price{
  width: 573px;
  height: 284px;
  border-radius: 16px;
  background: rgba(233, 68, 68, 0.05);
  padding-left: 32px;
}
.handpicked-title{
color: #131318;
text-align: center;
font-size: 24px;
font-weight: 800;
}
.handpicked-description{
color: #5A5A5D;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
}

/* deals & discount style */
.deals-title{
color: #131318;
text-align: center;
font-size: 40px;
font-weight: 800;
}
.deals-description{
color: rgba(19, 19, 24, 0.70);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
}
.deals-items{
  background-image: url('./Images/Group\ 39.png');
  background-repeat: no-repeat;
  width: 1170px;
  height: 500px;
  border-radius: 16px;
  margin: 135px auto;
  border-radius: 16px;
  position: relative;
}
.deals-items-inner{
  width: 579px;
  height: 389px;
  border-radius: 16px;
  border: 2px solid #FFF;
  background: rgba(255, 255, 255, 0.80);
  backdrop-filter: blur(2.5px);
  margin: 56px 56px 56px 536px;
  padding: 56px auto ;
  position: absolute;
}
.tour-h4{
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  padding-left: 50px;
}
.tourp4{
  color: #5A5A5D;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-left: 50px;
}
.tour-price{
color: #FF5400;
font-size: 20px;
font-weight: 800;
padding-left: 50px;
}
#tour-button{
  margin-left: 50px;

}
.deals-items-middle{
  background-image: url('./Images/Group\ 40.png');
  background-repeat: no-repeat;
  width: 1170px;
  height: 500px;
  border-radius: 16px;
  margin: 135px auto;
  border-radius: 16px;
  position: relative;
}
.deals-items-inner-left{
  width: 579px;
  height: 389px;
  border-radius: 16px;
  border: 2px solid #FFF;
  background: rgba(255, 255, 255, 0.80);
  backdrop-filter: blur(2.5px);
  margin: 56px 535px 56px 56px;
  padding: 56px auto;
  position: absolute;
}
.see-all-button{
  width: 210px;
  height: 52px;
  border-radius: 8px;
  background: #FF5400;
  border-color: rgba(255, 255, 255, 0);
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  margin:0px 50%;
  
}

/* perfect-place style */

.perfect-place{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 135px 135px;
}
.perfect-place-title{
  color: #131318;
  text-align: left;
  font-size: 40px;
  font-weight: 800;
}
.perfect-place-description{
  color: #5A5A5D;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.perfect-place-description li{
  color: #131318;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}
.perfect-place-items{
  width: 50%;
}
.perfect-place-image{
  background-image: url('./Images/Group\ 40089.png');
  width: 610px;
  height: 424px;

}
.perfect-place-image video{
  width: 100%;
  height: 60px;
  padding-top: 70%;
  padding-bottom: 20px;
  
}
/* newsletter style */
.newsletter-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 135px 135px;
  gap: 24px ;
}
.newsletter-items{
  width: 474px;
  height: 422px;
  border-radius: 16px;
  border: 1px solid #FF5400;
  margin: 40px;
  }
  .newsletter-items h3{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding-left: 50px;
  }
  .newsletter-items p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    padding-left: 50px;
  }
  .newsletter-items input{
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin: 20px 50px;
    border-color: rgba(255, 255, 255, 0);
  
    }
    .newsletter-button{
      width: 393px;
      height: 52px;
      border-radius: 8px;
      background: #FF5400;
      margin: 20px 50px;
      align-items: center;
      border-color: rgba(255, 255, 255, 0);
      color: #FFF;
    }
  .newsletter-image{
    background-image: url('./Images/Rectangle\ 8\ \(1\).png');
    width: 672px;
    height: 422px;
    border-radius: 16px;
  }

  /* footer style */
  .footer-container{
    width: 1440px;
    height: 502px;
    background: rgba(19, 19, 24, 0.05);


  }
  
  .footer-items{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 110px 600px 0px 650px;
    
  }
  .footer-items h2{
    font-size: 32px;
    font-weight: 800;
    
  }
  .footer-items img{
    padding-right: 24px;
  }
  .footer-description{
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }
  .social-icons{
    width: 174px;
    height: 24px;
    justify-content: center;
    justify-content: space-around;
    padding: 20px 630px;
    
  }
  .rights-reserved{
   padding:40px 40%;
  }

  /* responsive CSS start */
  @media screen and (max-width:600px) {
    .nav-container{
      flex-direction: column;
      align-items: center;
      padding: 20px;
      font-size: 22px;

      
    }
    .nav-content{
      flex-direction: column;
      margin: 0px;
      padding: 0px;
    }
    .list-items{
      flex-direction: column;
     

    }
    .banner{
      width: 335px;
      height: auto;
    }
    .banner-items{
      flex-direction: column;
    align-items: flex-start;
  }
  .banner-heading{
    font-size:30px;
    padding: 15px;
  }
  .banner-description{
    padding: 15px;
  }
}

/* our-popular-tour-style */
@media screen and (max-width:600px){
  .tour-items{
    flex-direction: column;
    display: block;
    align-items: center;
    margin: 20px;
    order: 1;
    gap: 20px ;
    width: fit-content;
  }
  .tour-image{
    width: 335px;
    height: 342px;
    border-radius: 16px;
    order: 2;
  }
/* Choose Your Destination style */
.destination-container{
  margin: 20px;
}
.destination-img-div1 , .destination-img-div2 , .destination-img-div3{
  flex-direction: column;
  width: 100%;
}
/* deals & discount style */

  .deals-items{
    padding: 20px;
    margin: 0px;
    width: 100%;
    height: 100%;
  }
/* perfect-place style */

.perfect-place{
  flex-direction: column;
}
/* newsletter style */
.newsletter-container{
  flex-direction: column;
  display: block;
  align-items: center;
  margin: 20px;
}
.footer-container{
align-items: center;
padding: 0%;
margin: 0%;
}

} 
