/* Common Style */

*{
  font-family: 'Mulish', sans-serif;
}

/* nav style */
.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 135px;
}
nav img{
  width: 48px;
  height: 56px;
}
.travel{
  color:#FF5400;
}
.nav-content{
  display: flex;
  gap: 16px;
  align-items: center;
  width: 50%;
  
  
}
nav h2 {
  color: #131318;
  font-size: 36px;
  font-weight: 800;
}
.list-items{
  display: flex;
  gap: 44px;
  width: 50%;
  
}
.list-items li{
  list-style:none;
  font-size: 18px;
  font-weight: 400;
  
}

/* banner style */
.banner{
  background-image:url('./Images/Group\ 13\ \(1\)\ \(1\).png');
  background-repeat: no-repeat;
  width: 1170px;
  height: 500px;
  border-radius: 16px;
  margin: 135px auto;
  border-radius: 16px;
}
.banner-heading{
  color: #FFF;
  font-size: 64px;
  font-weight: 800;
  align-items: center;
  padding: 106px 287px 24px;
}
.banner-description{
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding: 2px 247px 48px;
}
.banner-items{
  display: inline-flex;
  padding: 16px;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.30);
  margin: 0px 100px 
}
.option{
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #FFF;
  border-color: rgba(255, 255, 255, 0);
  padding: 16px; 
}

/* our-popular-tour-style */
.tour-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 135px 135px;

}
.tour-heading{
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.tourp1{
  color: rgba(19, 19, 24, 0.70);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.tourp2{
  color: #5A5A5D;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.primary-button{
  border-radius: 8px;
  background: #FF5400;
  width: 174px;
  height: 52px;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  padding: 13px 15px;
  border-color: rgba(255, 255, 255, 0);
}
.tour-image{
  width: 540px;
  height: 550px;
  border-radius: 16px;
}

/* Choose Your Destination style */
.destination-container{
  margin: 80px;
  
}
.destination-heading{
  color: #131318;
  text-align: center; 
  font-size: 40px;
  font-weight: 800;
}
.destination-description{
  color: rgba(19, 19, 24, 0.70);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding: 24px 0px 48px 0px;
}
.destination-images{
   

}
/* why choose us style */
.choose-items{
  display: flex;
  width: 100%;
  display: grid;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  
}

.why-choose-us h3{
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;

}
.why-choose-us p{
color: rgba(19, 19, 24, 0.70);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
}
.handpicked{
width: 573px;
height: 284px;
border-radius: 16px;
background: rgba(251, 181, 99, 0.05);
padding-left: 32px;
}
.world-class-service{
  width: 573px;
  height: 284px;
  border-radius: 16px;
  background: rgba(41, 206, 246, 0.05);
  padding-left: 32px;

}
.best-price{
  width: 573px;
  height: 284px;
  border-radius: 16px;
  background: rgba(233, 68, 68, 0.05);
  padding-left: 32px;
}
.handpicked-title{
color: #131318;
text-align: center;
font-size: 24px;
font-weight: 800;
}
.handpicked-description{
color: #5A5A5D;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
}